streamlit
supabase
postgrest
python-dotenv
pandas
pytz
fpdf2
plotly
pillow
numpy<2.0.0
opencv-python-headless<4.9
mediapipe
dlib-bin
face_recognition @ git+https://github.com/thetoby9944/face_recognition.git
